<h1>
    {{title}}
</h1>
<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" #searchBox class="form-control" (keyup.enter)="search(searchBox.value)"
          placeholder="Search By Name or Code Press Enter ">
</div>
<div>
        <div class="row" style="margin-bottom: 1vw">
                <button class="col-md-2" style="margin-left: 1vw"  type="button"  (click)="onNewRow()"
                class="btn btn-primary active">Add New</button>  
                <button class="col-md-2" style="margin-left: 1vw" type="button"  (click)="getExcel()"
                class="btn btn-secondary active">Excel Export (xlsx)</button>              
        </div>

        <p-table [columns]="cols" [value]="products" 
        selectionMode="single"
        [paginator]="true" [rows]="10"
        dataKey="id">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                        <th style="width:4em"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            <button pButton  (click)="onRowEdit(rowData)">
                                <i class="fas fa-search"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
                     
</div>